@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  background: #6f00ff;
  font-family: "Ubuntu",sans-serif;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  }
  .navbar .logo a span {
    color: #d2d2d2;
  }
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease
}
.navbar .menu li a:hover {
  color: #d2d2d2;
}
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
}
.home {
  display: flex;
  height: 100px;
  min-height: 500px;
  font-family: "Ubuntu",sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 75px;
}
.home .home-content .text-2 {
  font-size: 18px;
}
.home .home-content img {
  margin-top: 400px;
  height: 296px;
  weight: 296px;
}
span {
  color: #6f00ff;
}
body{
  background-color:  #d2d2d2;
}
