*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial,sans-serif;
}
nav {
  background-color: #0E4BEF;
  height: 52px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
}
nav ul{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1200px;
}
nav ul li{
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 1rem;
  border-bottom: none;
  padding: 25px;
  }
  h1 {
    text-align: center;
    margin-top:200px;
  }
  body {
    background-color: #C0C0C0;
  }
