@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  background: #6f00ff;
  font-family: "Ubuntu",sans-serif;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  }
  .navbar .logo a span {
    color: #d2d2d2;
  }
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease
}
.navbar .menu li a:hover {
  color: #d2d2d2;
}
.btn-responsive-menu {
  display: none;
  float: right;
  padding:5px;
  cursor:pointer;
  margin:  0px 20px 0 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background:#333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

	.icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    margin:5px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }

	.show {
    display: block;
  }



.home {
  display: flex;
  min-height: 100px;
  font-family: "Ubuntu",sans-serif;
}
.home .max-width {
  margin: 150px 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #6f00ff;
  font-weight: 500;
}
.home .home-content a{
  display: inline-block;
  background: #6f00ff;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #6f00ff;
  transition: all 0.5s ease;
}
.home .home-content a:hover {
  background: #d2d2d2;
  color: #000000;
  border: solid 2px #6f00ff;
}
body {
  background-color: #d2d2d2;
}
p {
  font-family: "Ubuntu",sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 150px;
  }
  p span {
    color: #6f00ff;
    padding-top: 25px;
  }
  .social {
    border: 0;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }

  .max2-width{
    display: flex;
    background-color: #828282;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    padding: 50px;
    text-align: center;
  }

  .copy {
    position: relative;
    float: left;
    font-family: "Ubuntu",sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  .pippo{
    position: relative;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
  img.pippo {
    margin-right: 10px;
}
 .foto-bio {
   position: relative;
   float: left;
   margin-top: 125px;
   margin-left: 25px;
   width: : auto;
   z-index: -1;
 }
 .foto-bio p{
   float:left;
   margin-top: 50px;
   text-align:left;
}
.foto-bio img{
   width:250px;
   margin: 0 15px 15px 0;
   border-radius: 10px 10px 10px 10px;
}
.foto-bio span {
  font-size: 60px;
  color: #000000;
}
.foto-bio .testo {
  font-size: 18px;
}
.foto-life {
  position: relative;
  float: left;
  margin-top: 125px;
  margin-left: 25px;
  width: : auto;
  z-index: -1;
}
.foto-life p{
  float:left;
  margin-top: 50px;
  text-align:left;
}
.foto-life img{
  width:250px;
  margin: 0 15px 15px 0;
  border-radius: 10px 10px 10px 10px;
}
.foto-life .testo {
  font-size: 18px;
  color: #000000;
}
.foto-soft {
  position: relative;
  float: left;
  margin-top: 125px;
  margin-left: 25px;
  width: : auto;
  z-index: -1;
}
.foto-soft p{
  float:left;
  margin-top: 50px;
  text-align:left;
}
.foto-soft img{
  width:450px;
  margin: 0 15px 15px 0;
  border-radius: 10px 10px 10px 10px;
}
.foto-soft .testo {
  font-size: 18px;
  color: #000000;
}
.foto-soft .prima-riga {
  font-family: "Ubuntu",sans-serif;
  font-size: 25px;
  margin-top: 150px;
  color: #000000;
  text-align: center;
}
.foto-soft .seconda-riga {
  font-family: "Ubuntu",sans-serif;
  font-size: 25px;
  margin-top: 150px;
  color: #000000;
  text-align: center;
}
.foto-hard {
  position: relative;
  float: left;
  margin-top: 125px;
  margin-left: 25px;
  width: : auto;
  z-index: -1;
}
.foto-hard p{
  float:left;
  margin-top: 50px;
  text-align:left;
}
.foto-hard img{
  width:450px;
  margin: 0 15px 15px 0;
  border-radius: 10px 10px 10px 10px;
}
.foto-hard .testo {
  font-size: 18px;
  color: #000000;
}
.foto-future {
  position: relative;
  float: left;
  margin-top: 125px;
  margin-left: 25px;
  width: : auto;
  z-index: -1;
}
.foto-future p{
  float:left;
  margin-top: 50px;
  text-align:left;
}
.foto-future img{
  width:450px;
  margin: 0 15px 15px 0;
  border-radius: 10px 10px 10px 10px;
}
.foto-future .testo {
  font-size: 18px;
  color: #000000;
}
.content {
  padding: 200px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  float: left;
}
#modulo {
  padding: 15px;
  color: #fff;
  overflow: auto;
}
#modulo h1{
  color: #000000;
  margin: 0;
}
#modulo h2 {
  color: #000000;
  margin: 15px 0 25px;
}
#modulo ul label {
  color: #000000;
}
#modulo ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#modulo ul li{
  padding: 10px 0;
  width: 50%;
  float: left;
  box-sizing: border-box;
}
#modulo ul li.tre,#moduo ul li.quattro{
  float: none;
  clear: left;
  width: 100%;
}
#modulo ul li.uno{
  margin-right: 1%;
}
#modulo ul li .quattro {
  padding: 20px 0;
  text-align: center;
}
#modulo ul li label{
  display: block;
  padding-bottom: 5px;
  width: 50%;
}
#modulo ul li input{
  border: solid 2px #000;
  background: rgba(255, 255, 255, 0.2);
  color: #000000;
  float: left;
}
#modulo ul li .testo{
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}
#modulo ul li textarea {
  padding: 10px;
  color: #fff;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  border: solid 2px #000;
  box-sizing: border-box;
  border-radius: 6px;
}
#modulo ul li .pulsante {
  display: inline-block;
  background: #6f00ff;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #6f00ff;
  transition: all 0.5s ease;
}
#modulo ul li .pulsante:hover {
  background: #d2d2d2;
  color: #000000;
  border: solid 2px #6f00ff;
  cursor: pointer;
}

@media (max-width: 1980px){
  .home .max-width{
    margin-left: 0px;
  }

}
@media (max-width:1167px) {
  .max-width{
    padding: 0 50px;
  }
.btn-responsive-menu {
  display: block;
}
  .navbar .menu {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top:0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
.navbar .menu li a {
  display: inline-block;
  margin: 20px 0;
  font-size: 25px;
  float: none;
}
.home .home-content .text-2 {
  font-size: 70px;
}
.home .home-content .text-3 {
  font-size: 35px;
}
.home .home-content a {
  font-size: 23px;
  padding: 10px 30px;
}
$(".btn-responsive-menu").click(function() {

	$(".navbar .menu").toggleClass("show");

});
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f00ff;
  border-radius: 5px;
}
